div{
  width: 200px;
  height: 200px;
  background-color: pink;
}

h1 {
  font-size: 40px;
}

#one{
  width: 50%;
  border-width: 100%;
  border-color: aqua;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
}

#two{
  border-width:2px;
  border-color: black;
  border-style: dashed;
  border-left-width: 20px;
}

#three{
  border: 4px dashed red;
  border-radius: 50%;
}

h1{
  background-color:rgba(100, 38, 38, 0.5);
}